.client{
  background-color: cadetblue;
  padding: 20px;
  margin-top: 0;
}
button{
  size:large;
  background-color: brown;
}
.login{
  background-color: green;
}
.form{
  align-items: center;
  padding-left: 600px;
  padding-top: 20px;

}